<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>指令--v-model radio</title>
	</head>
	<body>
		<!-- v-model 绑定radio获取到的是radio的value值 -->
		<div id="app" v-cloak>
			<input type="radio" value="one" v-model="picked"/>
			<input type="radio" value="two" v-model="picked"/>
			<p>{{picked}}</p>
		</div>
		
		<script src="../../lib/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			 new Vue({
				 el:'#app',
				 data:{
					 picked:""
				}
			 })
		</script>
	</body>
</html>
