<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>组件--全局组件02</title>
		<link rel="stylesheet" type="text/css" href="../../sass/common.css"/>
	</head>
	<body>
		<div id="app" v-cloak>
			<hello></hello>
		</div>
		<div class="app" v-cloak>
			<hello></hello>
		</div>
		<script type="text/javascript" src="../../lib/vue/vue.js"></script>
		<script type="text/javascript">
			  var options = {
				  /* es6的语法
				  template如果内容很长，那么用反引号  ``,用普通的引号会报错 
				  */
				  template:`
				    <div>
					   <ul>
					      <li>这里是标签内容</li>
					   </ul>
					</div>
				 `
			  }
			  Vue.component('hello',options);
			  
			  //注册的时候绑定id选择器
			  new Vue({
				  el:'#app'
			  });
			  
			  //注册的时候绑定类选择器
			  new Vue({
				  el:'.app'
			  })
		</script>
	</body>
</html>
